body {
  margin:0px;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:280px;
  top:92px;
  width:400px;
  height:62px;
  font-family:'Matura MT Script Capitals Normal', 'Matura MT Script Capitals';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:62px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:280px;
  top:200px;
  width:650px;
  height:620px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:620px;
}
#u3 {
  position:absolute;
  left:2px;
  top:302px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:370px;
  top:360px;
  width:95px;
  height:21px;
  font-size:20px;
  color:#999999;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:370px;
  top:422px;
  width:95px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:522px;
  top:360px;
  width:258px;
  height:24px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:522px;
  top:422px;
  width:258px;
  height:24px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:278px;
  top:840px;
  width:182px;
  height:16px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:370px;
  top:258px;
  width:136px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:52px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:727px;
  top:92px;
  width:203px;
  height:68px;
  font-family:'High Tower Text Normal', 'High Tower Text';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:68px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:370px;
  top:490px;
  width:92px;
  height:26px;
  font-size:20px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:522px;
  top:490px;
  width:258px;
  height:26px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:370px;
  top:548px;
  width:95px;
  height:20px;
  font-size:20px;
  color:#999999;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:522px;
  top:548px;
  width:258px;
  height:26px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:380px;
  top:620px;
  width:200px;
  height:100px;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:38px;
  width:196px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:601px;
  top:670px;
  width:100px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:760px;
  top:670px;
  width:100px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
