body {
  margin:0px;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:280px;
  top:92px;
  width:413px;
  height:62px;
  font-family:'Matura MT Script Capitals Normal', 'Matura MT Script Capitals';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:62px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:280px;
  top:200px;
  width:650px;
  height:305px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:305px;
}
#u3 {
  position:absolute;
  left:2px;
  top:144px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:310px;
  top:245px;
  width:270px;
  height:35px;
  font-size:20px;
  color:#999999;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:35px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:620px;
  top:285px;
  width:84px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:620px;
  top:341px;
  width:95px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:640px;
  top:430px;
  width:75px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:760px;
  top:430px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:715px;
  top:285px;
  width:165px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:715px;
  top:340px;
  width:165px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:280px;
  top:534px;
  width:182px;
  height:16px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:590px;
  top:230px;
  width:10px;
  height:240px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:223px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:240px;
}
#u17 {
  position:absolute;
  left:620px;
  top:239px;
  width:68px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:340px;
  top:320px;
  width:200px;
  height:100px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:720px;
  top:88px;
  width:210px;
  height:62px;
  font-size:28px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:62px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
